html {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
  }
  
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: #DDD0C8;
    font-family: 'Karla', sans-serif;
}

.navbar {
    background-color: #323232;
    color: #FFF;
    height: 3rem;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
}

.navbar-title {
    margin: 0;
    padding-left: 2rem;
}

.blog-list {
    padding: 1rem;
}

form {
    background-color: #CD9C8A;
    padding: 5rem 35rem 2rem 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

button {
    font-size: 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: none;
    height: 2rem;
}